@{
    ViewData["Title"] = "MVC Converter Project with Razor Templates";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <h3>Instructions</h3>
        <p>Click on the links above to access converter forms for Length, Mass, and Temperature.</p>
    </div>
</div>